//
// user.scss
// Use this to write your custom SCSS
//
$white: #ffffff !important;
$purple: #9575cd !important;
$pink: #FF009D !important;
$blue: #3435F5 !important;
$amber: #ffb000 !important;

body{
  font-family: "Glass TTY VT220", sans-serif;
  color: $white;
}
.text-purple{
  color: $purple;
}
input[type=text]{
  caret-color: $purple;
  color: $purple;
}
input[type=range] {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: repeating-linear-gradient(90deg, 
        black, black .2em, #743ad5 0, #9575cd .4em);
  border: 0;
  border-radius: 0;
  width: 100%;
  height:24px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 0;
  width: 12px;
  height:24px;
  background: $pink;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: repeating-linear-gradient(90deg, 
        black, black .2em, #743ad5 0, #9575cd .4em);
}
input[type=range]::-moz-range-track {
  background: repeating-linear-gradient(90deg, 
        black, black .2em, #743ad5 0, #9575cd .4em);
  border: 0;
  border-radius: 0;
  width: 100%;
  height:24px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 12px;
  height:24px;
  background: #ffffff;
  border: 0;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: repeating-linear-gradient(90deg, 
        black, black .2em, #743ad5 0, #9575cd .4em);
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height:24px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #743ad5;
  border: 1px solid $purple;
}
input[type=range]::-ms-fill-upper {
  background: $purple;
  border: 1px solid $purple;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height:24px;
  background: #ffffff;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #743ad5;
}
input[type=range]:focus::-ms-fill-upper {
  background: $purple;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.navbar-light {
  background-color:transparent;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d 72%)!important;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
}
.navbar-nav .nav-link.active:before{
  background-color:transparent;
  background-image: url(../img/play_arrow-24px.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 50%;
  width: 20px;
  height: 20px;
  border:0px!important
}
.avatar-img{
  image-rendering: pixelated;
  filter: grayscale(1);
}
.logo, .icon-logo{
  image-rendering: pixelated;
}
.table thead th {
  background-color:transparent;
  color: $white;
  border-bottom: 0;
}
.list-group-activity .list-group-item:not(:last-child)::before{
  left:14px;
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d 72%)!important;
  border-image-slice: 1;
  border-width: 1px;
  background-image: transparent;
}
.card{
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d 72%)!important;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
  background: transparent;
  box-shadow: none;
}
.rounded-xl{
  border-radius: 20px
}
.modal-dialog-vertical{
  max-width: 100%;
}

// IDEA: background-colors
.bg-dark-curved {
  background-color: transparent!important;
  background-image: radial-gradient(#131415,#131415 70%,transparent 70.1%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 200% 150%;
}
.bg-dark{
  background-color: #131415!important
}
.bg-purple{
  background-color: $purple;
}
.btn-purple{
  background-color:$purple;
  padding: 2px 0px;
  color: #131415;
}
.text-purple{
  color: $purple;
}
 /*
.glowing{
  color: $white;
 text-shadow:0 0 3px #ffccec, 0 0 10px #f37cc5, 0 0 20px #ff52bd, 0 0 30px #FF009D;
}*/
.glowing{
  color: #ffe0b2;
  text-shadow:0 0 3px #FFE0B2, 0 0 10px #FFB74D, 0 0 20px #FB8C00, 0 0 30px #F57C00;
}
.border-purple{
  border-color: $purple;
}
.card-link{
  color:#fff;
  background: #131415;
}
.card-link:hover, .card-link:active{
  color:#fff;
}
// buttons
.btn-white-opacity{
  width: 88px!important;
  height: 88px!important;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-toggler-icon {
  image-rendering: pixelated;
}
//Sun
$size: 30vw;
.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  position: relative;
  height: $size;
  width: $size;
  overflow: hidden;
}
.sun {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: $size;
  height: $size;
  background: radial-gradient(transparent 65%, #ff0488 100%),
    linear-gradient(#ffcb55 0, #ff0488 100%);
  border-radius: 50%;
  animation: hue-rotate 60s ease-in-out infinite 5s;
}

.band {
  position: absolute;
  bottom: $size/-5;
  width: 100%;
  height: 10%;
  background: black;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY($size*-0.8) scaleY(0);
  }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@media (min-width: 1024px) {
  .w-lg-60{width: 60%};
  .w-lg-40{width: 40%}
}
@media (max-width: 768px) {
  .modal-dialog-vertical{
    max-width: 100%;
  }
  
.navbar-light {
  border:0!important
}
}
