<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- meta -->
<title>88mph - Earn Upfront Fixed-Rate Interest</title>
<meta content="@88mphapp" name="twitter:site" />
<meta content="summary_large_image" name="twitter:card" />
<meta content="assets/img/og-twitter-image.jpg" name="twitter:image" />
<meta content="assets/img/og-twitter-image.jpg" itemprop="image" />
<meta content="assets/img/og-twitter-image.jpg" property="og:image" />
<meta name="description" content="Deposit your crypto assets to earn upfront fixed APY & claim your rewards" />
<meta content="88mph - Earn Upfront Fixed-Rate Interest" property="og:title" />

  <meta content="88mph - Earn Upfront Fixed-Rate Interest" itemprop="name" />

  <meta content="88mph - Earn Upfront Fixed-Rate Interest" name="twitter:title" />

  <meta content="Deposit your crypto assets to earn upfront fixed APY & claim your rewards" property="og:description" />

  <meta content="Deposit your crypto assets to earn upfront fixed APY & claim your rewards" itemprop="description" />

  <meta content="Deposit your crypto assets to earn upfront fixed APY & claim your rewards" name="twitter:description" />

  <meta content="Deposit your crypto assets to earn upfront fixed APY & claim your rewards" name="description" />

<link rel="icon" type="image/png" href="assets/img/icon-default.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon-default.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon-default.png">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/feather/feather.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/flatpickr/dist/flatpickr.min.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css" />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme-dark.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme-dark.css" id="stylesheetDark">
<!-- endbuild -->
