<!-- IDEA: modal depositMoney -->
<div class="modal fade fixed-right" id="depositMoney" tabindex="-1" role="dialog" aria-labelledby="depositMoney" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content">
      <div class="modal-body pt-0 py-lg-0">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 col-xl-6 pt-0 pr-lg-5">
            <div class="row no-gutters">
              <div class="col-auto mr-auto">
                <button class="btn btn-link text-white pl-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
                  <i class="fe fe-arrow-left h2 mb-0"></i>
                </button>
              </div>
            </div>
            <div class="row justify-content-center no-gutters">
              <div class="col-12 col-lg-10 pt-3 pb-5">
                <h1 class="display-4 text-center">
                  How much would you like to deposit?
                </h1>
                <p class="text-secondary small text-center mb-5">Deposit to earn upfront fixed APY, protocol fees, incentives, etc.<br><a href="https://88mph.app/docs/" target="_blank" rel="noopener noreferrer">See how it works</a></p>
              
                <div class="card">
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-12 col-lg-6 mb-4 mb-lg-0">
                        <label>Amount</label>
                        <div class="input-group mb-2">
                          <input type="text" class="form-control form-control-lg" placeholder="0.00" aria-label="" aria-describedby="">
                          <div class="input-group-append">
                            <button class="btn border" type="button">Max</button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-12 col-lg-6 mb-0">
                        <label>Lending pool</label>
                        <div class="input-group input-group-lg mb-2">
                          <select class="custom-select custom-select">
                            <option value="">aDAI</option>
                            <option value="">cDAI</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <small class="form-text text-secondary mb-4">0.0000 ETH available</small>
                    <div class="form-group row mb-0">
                      <label for="colFormLabel" class="col-sm-7 col-form-label">Lending duration (min. 7)</label>
                      <div class="col-sm-5">
                        <div class="input-group ml-auto w-50">
                          <input type="tel" min="91" value="365" placeholder="365" data-mask="#,##0" data-mask-reverse="true" id="lock-period" class="form-control text-right">
                          <div class="input-group-append">
                            <span id="lock-period" class="input-group-text border-0 text-secondary bg-transparent text-right pr-0">days</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-4">
                      <button class="btn btn-sm btn-link text-white pl-0" type="button" name="7d">[7d]</button>
                      <button class="btn btn-sm btn-link text-white" type="button" name="30d">[30d]</button>
                      <button class="btn btn-sm btn-link text-white" type="button" name="90d">[90d]</button>
                      <button class="btn btn-sm btn-link text-white" type="button" name="180d">[180d]</button>
                      <button class="btn btn-sm btn-link text-white" type="button" name="365d">[365d]</button>
                      <button class="btn btn-sm btn-link text-white" type="button" name="730d">[730d]</button>
                    </div>
                    <div class="table-responsive">
                      <table class="table mb-0">
                        <thead>
                          <tr>
                            <th class="px-0 bg-transparent border-0 text-white" colspan="2">Order details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="px-0 border-0 text-white">
                              <strong>Fixed APY</strong>
                              <button type="button" class="btn btn-sm btn-link p-0 text-white" data-toggle="tooltip" data-placement="top" title="Fixed APY according to lending duration">
                                [i]
                              </button>
                            </td>
                            <td class="text-right text-white border-0">
                              0.00%
                            </td>
                          </tr>
                          <tr>
                            <td class="px-0 text-white border-0">
                              <strong>Upfront interest</strong>
                              <button type="button" class="btn btn-sm btn-link p-0 text-white" data-toggle="tooltip" data-placement="top" title="Fixed-rate interest you'll receive when your tx is confirmed">
                                [i]
                              </button>
                            </td>
                            <td class="text-white text-right border-0">
                              0.0000 DAI
                            </td>
                          </tr>
                          <tr>
                            <td class="px-0 text-white border-0">
                              <strong>MPH APY daily / weekly</strong>
                              <button type="button" class="btn btn-sm btn-link p-0 text-white" data-toggle="tooltip" data-placement="top" title="MPH LP rewards annualized and compounded based on the last day/week">
                                [i]
                              </button>
                            </td>
                            <td class="text-white text-right border-0">
                              +0.0000% / +0.0000%
                            </td>
                          </tr>
                          <tr>
                            <td class="px-0 border-top border-top-1 border-white text-white"><strong>Deposit fixed APY + MPH weekly APY</strong></td>
                            <td colspan="2" class="text-right border-top border-top-1 border-white text-amber glowing">
                              <span class="h3">0.0000%</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a class="btn btn-link btn-lg btn-block text-white" href="">[Deposit]</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-6 bg-amber p-4 px-lg-5 mr-lg-n4 minvh100 d-none d-lg-flex">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="list-group list-group-flush list-group-activity my-5">
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">

                       <h2 class="bg-amber text-center text-dark"><1></h2>

                      </div>
                      <div class="col ml-n2 d-flex align-items-center">

                        <!-- Heading -->
                        <p class="mb-0 text-dark font-weight-bold">
                          Deposit plain stablecoins or tokens - DAI/USDC/USDT/TUSD/BUSD/sUSD/LINK/YFI - which will get converted underneath to cTokens for compound pools, aTokens for aave pools or xyzTokens for others pools.
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto text-center text-dark">

                        <h2 class="bg-amber text-center text-dark"><2></h2>

                      </div>
                      <div class="col ml-n2 d-flex align-items-center">

                        <!-- Heading -->
                        <p class="mb-0 text-dark font-weight-bold">
                          After depositing in the pool, you receive upfront fixed-rate interest and liquidity provider (LP) tokens. They represent your share of ownership in the pool.
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto text-center text-dark">

                        <h2 class="bg-amber text-center text-dark"><3></h2>

                      </div>
                      <div class="col ml-n2 d-flex align-items-center">

                        <!-- Heading -->
                        <p class="mb-0 text-dark font-weight-bold">
                          By providing liquidity on any of the 88mph pools, you earn MPH LP reward tokens during the fixed-period of lending.
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto text-center text-dark">

                        <h2 class="bg-amber text-center text-dark"><4></h2>

                      </div>
                      <div class="col ml-n2 d-flex align-items-center">

                        <!-- Heading -->
                        <p class="mb-0 text-dark font-weight-bold">
                          By staking your MPH, you can claim your share of rewards from the 88mph's vault where all the 88mph fee and external incentives harvested - COMP, CRV, etc. - are collected.
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
